<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
      

        <li class="tab col s3"><a href="#char1"><%= sheet.charName %></a></li>
        <li class="tab col s3"><a href="#char2">name 2</a></li>
        <li class="tab col s3"><a href="#char3">name 3</a></li>
        <li class="tab col s3"><a href="#char4">name 4</a></li>
      </ul>
    </div>
    <div id="char1" class="col s12">
    <%= sheet.charName %>
    <%= sheet.charClass %>
    <%= sheet.charLevel %>
    <%= sheet.charRace %>
  </div>
    <div id="char2" class="col s12">Test 2</div>
    <div id="char3" class="col s12">Test 3</div>
    <div id="char4" class="col s12">Test 4</div>
  </div>
</div>
<h2></h2>
