<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs black">
        <li class="tab col s3"><a href="#char1" class="white-text"><%= sheet.charName %></a></li>
        <li class="tab col s3"><a href="#char2" class="white-text">Equipment</a></li>
        <li class="tab col s3"><a href="#char3" class="white-text">Spells</a></li>
        <li class="tab col s3"><a href="#char4" class="white-text">Bio</a></li>
      </ul>
    </div>
    <div id="char1" class="col s12 white-text">
      <h3><%= sheet.charName %></h3>
      <br>
      <%= sheet.charClass %>
      <br>
      <%= sheet.charLevel %>
      <br>
      <%= sheet.charRace %>
      <br>
      <h5>Traits</h5>
      <ul>
          <% sheet.charTraits.split(',').forEach((word) => { %>
            <li><%= word %></li>
          <% }) %>
        </ul>

      <br>
      <h5>Skills</h5>
      <%= sheet.charSkills %>
    </div>
    <div id="char2" class="col s12 white-text <%= sheet.class %>">
      <h5>Equipment</h5>
      <ul>
        <% sheet.charEquip.split(',').forEach((word) => { %>
          <li><%= word %></li>
        <% }) %>
      </ul>    </div>
    <div id="char3" class="col s12 white-text">
      <h5>Spells</h5>
      <ul>
        <% sheet.charSpells.split(',').forEach((word) => { %>
          <li><%= word %></li>
        <% }) %>
      </ul>
    </div>
    <div id="char4" class="col s12 white-text">
      <h5>Character Bio and History</h5>
    <%= sheet.charBio %></div>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red darken-4">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li>
      <form action="/sheets/<%= sheet.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE"/>
        <button class="btn-floating red darken-2 tooltipped" data-position="left" data-delay="500" data-tooltip="Delete Forever"><i class="material-icons">delete_forever</i></button>
      </form>
    </li>
    <li><a class="btn-floating yellow darken-4 tooltipped" href="/sheets/new" data-position="left" data-delay="500" data-tooltip="New Character Sheet">
        <i class="material-icons">library_add</i></a></li>
        <li><a class="btn-floating yellow darken-3 tooltipped" href="/sheets/<%= sheet.id %>/edit" data-position="left" data-delay="500" data-tooltip="Edit Character Sheet">
      <i class="material-icons">edit</i></a></li>
    <li><a class="btn-floating deep-orange tooltipped" href="/sheets" data-position="left" data-delay="500" data-tooltip="Character Sheet Viewer"><i class="material-icons">grid_on</i></a></li>
    <li><a class="btn-floating black tooltipped" href="/" data-position="left" data-delay="500" data-tooltip="Home"><i class="material-icons">home</i></a></li>

    </ul>
  </div>
