<div class="row">
  <% sheets.forEach((sheet) => { %>

  <div class="col s12 m6 l3">
    <div class="card blue-grey">
      <div class="card-image waves-effect waves-block waves-light">
<div class="row s3">

          <div class="col s4 deep-purple darken-5 white-text">STR <%= sheet.charStr %></div>
          <div class="col s4 deep-purple darken-3 white-text">DEX <%= sheet.charDex %></div>
          <div class="col s4 deep-purple darken-1 white-text ">CON <%= sheet.charCon %></div>


          <div class="col s4 deep-purple darken-4 white-text">INT <%= sheet.charInt %></div>
          <div class="col s4 deep-purple darken-2 white-text">WIS <%= sheet.charWis %></div>
          <div class="col s4 deep-purple  white-text">CHA <%= sheet.charDex %></div>
        </div>

        </div>
      <div class="card-content">
        <span class="card-title activator white-text text-darken-4"><%= sheet.charName %></span>
        <p><a href="#"><%= sheet.charClass %></a></p>
        </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once cdivcked on.
      <a href="/sheets/<%= sheet.id %>">the show page</a></p>
    </div>
  </div>
</div>
<% }); %>

</div>
